node_modules
dist/Bepinex
dist/user
dist/
dist/**
dist/*
src/refDBS

src/**/**/*.js
src/**/*.js
src/*.js
src/**/**/*.js.map
src/**/*.js.map
src/*.js.map
src/**/**.js.map
src/**/**.js

types/
types/*
types/**
types